<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut <%= @user.email %> !</h1>
    <p>
      Tu as demandé à réinitialiser ton mot de passe Sportner.
    </p>
    <p>
      Pour réinitialiser ton mot de passe, clique sur le lien ci-dessous :
      
    </p>

      <p>
      Voici ton code unique à rentrer pour vérifier ton identité:
      <%= @reset_password_token %>
    </p>
    <p> À très vite sur Sportner !
  </body>
</html>
