/* EVENTS RESULTS */

.buttonToCreate{
  text-align: center;
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}
.buttonToCreate button{
  background-color: orangered;
  padding: 20px;
  border-radius: 20px;
  color: white;
  margin-top: 20px;
}

/* EVENTS FORM */

#Cadre form *{
  display: block;
  text-align: center;
}
#Cadre{
  min-height: 100%;
}

#Cadre input{
  width: 80%;
  margin: auto;
  border-radius: 20px;
  border: none;
  font-size: 15px;
}
#Cadre input:focus{
  outline: none !important;
  box-shadow: none !important;
  border: 2px solid orangered;
}
#Cadre input::placeholder{
  font-size: 15px;
}

#Cadre button{
  margin: auto;
  padding: 20px;
  background-color: #29335c;
  border-radius: 20px;
  color: white;
  margin-bottom: 20px;
}

#Cadre .CreateEventTitle{
  margin: 40px 0;
  text-align: center;
  font-size: xx-large;
}

/* EVENTS LIST */
#cardsContainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
#eventCard{
  padding: 20px;
  background-color: white;
  color: #29335c;
  border: 2px solid black;
  border-radius: 20px;
  width: 30%;
  margin: 3px
}
#eventCard:hover{
  background-color: #29335c;
  color: white;
}
@media screen and (max-width: 768px) {
  #eventCard {
    width: 45%;
  }
}

@media screen and (max-width: 480px) {
  #eventCard {
    width: 100%;
  }
}